<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container" style="padding: 3rem 0rem 10rem 0rem; max-width: 960px;">
        <div style="display: flex; margin-bottom: 4rem;">
            <a th:href="@{/admin/tag/{id}(id=${feed.tag.id})}">
                <button type="button" class="button btnPush btnOrange">뒤로 가기</button>
            </a>
        </div>

        <div>
            <img th:src="@{/profile_imgs/} + ${feed.writer.profileImageUrl}" onerror="this.src='/img/default_profile.png';" width="30" height="30" style="border-radius: 100%;" />
            <span th:text="${feed.writer.nickName}" style="font-size: 30px;"></span>
            <h6 th:text="${#temporals.format(feed.createdDate, 'yyyy-MM-dd')}"></h6>
            조회수: <span th:text="${#lists.size(feed.views)}"></span>
            <a th:href="@{/admin/tag/(tag_id=${feed.tag.id})}">
                <div th:text="${feed.tag.name}" style="color: orange;"></div>
            </a>
        </div>
        <hr>
        <!--  제목  -->
        <h3 th:text="${feed.title}"></h3>
        <!--  설명  -->
        <div>
            <h5 th:text="${feed.description}"></h5>
        </div>
        <!--  피드 이미지  -->
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" class="d-block w-100"/>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>