<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<script type="text/javascript">
function deleteFeed(feedId, feedTitle){
    var result = confirm(feedTitle + " 피드를 정말로 삭제하시겠습니까?");
    if (result){
        $.ajax({
            type: "DELETE",
            url: `/admin/feed/${feedId}`,
        }).done(function(resp){
            alert("삭제가 완료되었습니다.");
            location.href = "/admin/tag/" + resp;
        }).fail(function(error){
            console.log(error);
            alert("삭제에 실패하였습니다.");
        });
    }
}
</script>

<!-- content -->
<section class="page-section portfolio">
    <div class="container" style="margin-bottom: 10rem;">
        <div style="display: flex;">
            <a th:href="@{/admin/tags}">
                <button type="button" class="button btnPush btnOrange">뒤로 가기</button>
            </a>
        </div>

        <div style="font-size: 26px; font-weight: lighter; margin-bottom: 4rem;">
            Search results for "<b><span th:text="${keyword}"></span></b>"
        </div>

        <form th:action="@{/admin/feed/search}" method="get" class="d-flex" style="margin-bottom: 3rem;">
            <input class="form-control me-2" type="search" name="keyword" placeholder="피드 검색" aria-label="Search" style="width: 20%;">
            <button class="btn btn-outline-secondary" type="submit">
                <img th:src="@{/img/search.png}" alt="검색" width="20" height="20" class="d-inline-block align-text-top">
            </button>
        </form>

        <div th:if="${!feedList.isEmpty()}">
            <h1>피드 목록</h1>
            <table class="user-table">
                <thead style="background-color: #FFAA40;">
                <tr>
                    <th>번호</th>
                    <th>타이틀</th>
                    <th>작성자</th>
                    <th>피드 이미지</th>
                    <th>태그 명</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="feed: ${feedList.content}">
                    <td th:text="${feed.id}"></td>
                    <td th:text="${feed.title}"></td>
                    <td th:text="${feed.writer.nickName}"></td>
                    <td>
                        <a th:href="@{/admin/feed/{id}(id=${feed.id})}">
                            <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" style="border-radius: 100%; width: 80px; height: 80px;" />
                        </a>
                    </td>
                    <td th:text="${feed.tag.name}"></td>
                    <td>
                        <button class="btn btn-danger" th:onclick="deleteFeed('[[${feed.id}]]','[[${feed.title}]]')"/>삭제</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${feedList.isEmpty()}">
            <h2>
                피드가 없습니다.<br/>
            </h2>
        </div>
    </div>

    <div class="container">
        <!-- 페이징처리 시작 -->
        <div th:if="${!feedList.isEmpty()}">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${!feedList.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/feed/search(keyword=${keyword}, page='0')}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!feedList.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/feed/search(keyword=${keyword}, page=${feedList.number-1})}">
                        <span>&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${page == feedList.number + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/admin/feed/search(keyword=${keyword}, page=${page-1})}"></a>
                </li>

                <li class="page-item" th:classappend="${!feedList.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/feed/search(keyword=${keyword}, page=${feedList.number+1})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!feedList.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/feed/search(keyword=${keyword}, page=${feedList.totalPages-1})}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 페이징처리 끝 -->

    </div>
</section>

<footer th:replace="layout/footer::footerFragment"></footer>
