<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body layout:fragment="content">
<!-- content -->
<div class="container">

    <!--  feed list start  -->
    <div th:each="feed: ${searchList}">
        <a th:href="@{/user/feed/{id}(id=${feed.id})}">
            <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" width="150" height="150" style="border-radius: 100%;" />
        </a>
    </div>
    <!--  feed list end  -->
    <div th:if="${searchList.isEmpty()}">
        <h2>
            피드가 없습니다.<br/>
            새로운 피드를 작성해보세요.
            <a class="nav-link" th:href="@{/user/new/feed}">
                <button class="btn btn-primary">생성하러 가기</button>
            </a>
        </h2>
    </div>


<!--    &lt;!&ndash; 페이징처리 시작 &ndash;&gt;-->
<!--    <div th:if="${!feeds.isEmpty()}">-->
<!--        <ul class="pagination justify-content-center">-->

<!--            <li class="page-item" th:classappend="${!feeds.hasPrevious} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/user/tag/(tag_id=${tag.id}, page='0')}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="page-item" th:classappend="${!feeds.hasPrevious} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/user/tag/(tag_id=${tag.id}, page=${feeds.number-1})}">-->
<!--                    <span>&lt;</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"-->
<!--                th:classappend="${page == feeds.number + 1} ? 'active'" class="page-item">-->
<!--                <a th:text="${page}" class="page-link" th:href="@{/user/tag/(tag_id=${tag.id}, page=${page-1})}"></a>-->
<!--            </li>-->

<!--            <li class="page-item" th:classappend="${!feeds.hasNext} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/user/tag/(tag_id=${tag.id}, page=${feeds.number+1})}">-->
<!--                    <span>&gt;</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="page-item" th:classappend="${!feeds.hasNext} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/user/tag/(tag_id=${tag.id}, page=${feeds.totalPages-1})}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&raquo;</span>-->
<!--                </a>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </div>-->
<!--    &lt;!&ndash; 페이징처리 끝 &ndash;&gt;-->


</div>
</body>


<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>