<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<script type="text/javascript">
    function deleteFeed(feedId, feedName){
        var result = confirm(feedName + " 피드를 정말로 삭제하시겠습니까?");
            if (result) {
                location.href = "delete/" + feedId;
            }
    }
</script>

<body layout:fragment="content">
<!-- content -->
<div class="container">

    <!--  제목  -->
    <div>
        <h3 th:text="${feed.title}"></h3>
        작성자: <h6 th:text="${feed.writer.nickName}"></h6>
        작성시간: <h6 th:text="${feed.createdDate}"></h6>
    </div>
    <!--  설명  -->
    <div>
        <h5 th:text="${feed.description}"></h5>
    </div>
    <!--  피드 이미지  -->
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" class="d-block w-100"/>
            </div>
        </div>

        <!--  이전 피드로 이동  -->
        <a th:href="@{/user/feed/{id}(id=${prevFeed})}">
            <div th:if="${not #strings.isEmpty(prevFeed)}">
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">❮</button>
            </div>
                <div th:unless="${not #strings.isEmpty(prevFeed)}">
                    <button class="carousel-control-prev" type="button" data-bs-slide="prev" disabled>❮</button>
                </div>
        </a>
        <!--  다음 피드로 이동  -->
        <a th:href="@{/user/feed/{id}(id=${nextFeed})}">
            <div th:if="${not #strings.isEmpty(nextFeed)}">
                <button class="carousel-control-next" type="button" data-bs-slide="next">❯</button>
            </div>
            <div th:unless="${not #strings.isEmpty(nextFeed)}">
                <button class="carousel-control-next" type="button" data-bs-slide="next" disabled>❯</button>
            </div>
        </a>

    </div>

    <a th:href="@{/user/tag/(tag_id=${feed.tag.id})}">
        <button class="btn btn-primary">돌아가기</button>
    </a>

    <div th:if="${feed.writer.id.equals(#authentication.getPrincipal().getUser().id)}">
        <a th:href="@{/user/feed/update/{id}(id=${feed.id})}">
            <button class="btn btn-primary">수정하기</button>
        </a>
    </div>
    <div th:if="${feed.writer.id.equals(#authentication.getPrincipal().getUser().id)}">
        <button class="btn btn-primary" th:onclick="deleteFeed('[[${feed.id}]]','[[${feed.title}]]')"/>삭제하기</button>
    </div>

    <hr>

    <div th:if="${replies!=null and !replies.empty}">
        <h3>Comment</h3>
        <div th:each="reply: ${replies}">
            <h4 th:text="${reply.writer.nickName}"></h4>
            <h5 th:text="${reply.content}"></h5>
            <h6 th:text="${reply.createdDate}"></h6>
            <hr>
        </div>
    </div>
    <div th:unless="${replies!=null and !replies.empty}">
        <p>
            아직 댓글이 없습니다.<br/>
            새로운 댓글을 작성해보세요.
        </p>
    </div>

    <div>
        <a th:href="@{/user/reply/feed/{id}(id=${feed.id})}">
            <button class="btn btn-primary">댓글 달기</button>
        </a>
    </div>

</div>
</body>


<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>