<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<script type="text/javascript">
    function deleteFeed(feedId, feedName){
        var result = confirm(feedName + " 피드를 정말로 삭제하시겠습니까?");
            if (result) {
                location.href = "delete/" + feedId;
            }
    }

    function deleteReply(replyId){
        var result = confirm("댓글을 정말로 삭제하시겠습니까?");
            if (result) {
                location.href = "delete/reply/" + replyId;
            }
    }
</script>

<body layout:fragment="content">
<!-- content -->
<div class="container">

    <div>
        <img th:src="@{/profile_imgs/} + ${feed.writer.profileImageUrl}" onerror="this.src='/img/default_profile.png';" width="30" height="30" style="border-radius: 100%;" />
        <span th:text="${feed.writer.nickName}" style="font-size: 30px;"></span>
        <h6 th:text="${feed.createdDate}"></h6>
        조회수: <span th:text="${feed.view}"></span>
    </div>
    <hr>
    <!--  제목  -->
    <h3 th:text="${feed.title}"></h3>
    <!--  설명  -->
    <div>
        <h5 th:text="${feed.description}"></h5>
    </div>
    <!--  피드 이미지  -->
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" class="d-block w-100"/>
            </div>
        </div>

        <!--  이전 피드로 이동  -->
        <a th:href="@{/user/feed/{id}(id=${prevFeed})}">
            <div th:if="${not #strings.isEmpty(prevFeed)}">
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">❮</button>
            </div>
            <div th:unless="${not #strings.isEmpty(prevFeed)}">
                <button class="carousel-control-prev" type="button" data-bs-slide="prev" disabled>❮</button>
            </div>
        </a>
        <!--  다음 피드로 이동  -->
        <a th:href="@{/user/feed/{id}(id=${nextFeed})}">
            <div th:if="${not #strings.isEmpty(nextFeed)}">
                <button class="carousel-control-next" type="button" data-bs-slide="next">❯</button>
            </div>
            <div th:unless="${not #strings.isEmpty(nextFeed)}">
                <button class="carousel-control-next" type="button" data-bs-slide="next" disabled>❯</button>
            </div>
        </a>

    </div>

    <div th:if="${feed.writer.id.equals(#authentication.getPrincipal().getUser().id)}">
        <a th:href="@{/user/feed/update/{id}(id=${feed.id})}">
            <button class="btn btn-primary">수정하기</button>
        </a>
    </div>
    <div th:if="${feed.writer.id.equals(#authentication.getPrincipal().getUser().id)}">
        <button class="btn btn-primary" th:onclick="deleteFeed('[[${feed.id}]]','[[${feed.title}]]')"/>삭제하기</button>
    </div>

    <!--  좋아요 start  -->
    <div class="area-desc">
        <input type="hidden" id="feedId" th:value="${feed.id}">
        <input type="hidden" id="likeStatus" th:value="${likeStatus}">
        <a href="#">
            <span><img th:src="@{${likeStatus}}" alt="좋아요" width="30" height="30" class="d-inline-block align-text-top"></span>
        </a>
        <span id="likeCount" th:text="${#lists.size(feed.likes)}"></span>
    </div>
    <!--  좋아요 end  -->

    <hr>

    <div th:if="${replies!=null and !replies.empty}">
        <h3>Comment</h3>
        <div th:each="reply: ${replies}">
            <img th:src="@{/profile_imgs/} + ${reply.writer.profileImageUrl}" onerror="this.src='/img/default_profile.png';" width="30" height="30" style="border-radius: 100%;" />
            <span th:text="${reply.writer.nickName}" style="font-size: 30px;"></span>
            <h4 th:text="${reply.content}"></h4>
            <h6 th:text="${reply.createdDate}"></h6>
            <!--  댓글 삭제  -->
            <div th:if="${reply.writer.id.equals(#authentication.getPrincipal().getUser().id)}">
                <button th:onclick="deleteReply('[[${reply.id}]]')"/>삭제</button>
            </div>
            <hr>
        </div>
    </div>
    <div th:unless="${replies!=null and !replies.empty}">
        <p>
            아직 댓글이 없습니다.<br/>
            새로운 댓글을 작성해보세요.
        </p>
    </div>

    <div>
        <a th:href="@{/user/reply/feed/{id}(id=${feed.id})}">
            <button class="btn btn-primary">댓글 달기</button>
        </a>
    </div>


</div>

<script src="/js/like.js"></script>
</body>


<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>