<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container" style="margin-bottom: 10rem;">
        <div style="display: flex; margin-bottom: 4rem;">
            <a th:href="@{/admin}">
                <button type="button" class="button btnPush btnBlueGreen">뒤로 가기</button>
            </a>
        </div>

        <form th:action="@{/admin/user/search}" method="get" class="d-flex" style="margin-bottom: 3rem;">
            <input class="form-control me-2" type="search" name="keyword" placeholder="사용자 검색" aria-label="Search" style="width: 20%;">
            <button class="btn btn-outline-secondary" type="submit">
                <img th:src="@{/img/search.png}" alt="검색" width="20" height="20" class="d-inline-block align-text-top">
            </button>
        </form>


        <h1>사용자 목록</h1>
        <table class="user-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>프로필 이미지</th>
                <th>닉네임</th>
                <th>이메일(계정)</th>
                <th>권한</th>
                <th>로그인 방식</th>
                <th>보기</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users.content}">
                    <td th:text="${user.id}"></td>
                    <td>
                        <img th:src="@{/profile_imgs/} + ${user.profileImageUrl}" onerror="this.src='/img/default_profile.png';" style="border-radius: 100%; width: 80px; height: 80px;" />
                    </td>
                    <td th:text="${user.nickName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <span th:if="${#strings.isEmpty(user.provider)}">
                        <td>일반 로그인</td>
                    </span>
                    <span th:unless="${#strings.isEmpty(user.provider)}">
                        <td th:text="${user.provider}+' 로그인'"></td>
                    </span>
                    <td>
                        <a th:href="@{/admin/user/{id}(id=${user.id})}">
                            <button type="button" class="btn btn-primary">보기</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <!-- 페이징처리 시작 -->
        <div th:if="${!users.isEmpty()}">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${!users.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/users(page='0')}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!users.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/users(page=${users.number-1})}">
                        <span>&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${page == users.number + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/admin/users(page=${page-1})}"></a>
                </li>

                <li class="page-item" th:classappend="${!users.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/users(page=${users.number+1})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!users.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/users(page=${users.totalPages-1})}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 페이징처리 끝 -->


    </div>
</section>
<footer th:replace="layout/footer::footerFragment"></footer>
