<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container">
        <div style="display: flex; margin-bottom: 4rem;">
            <a th:href="@{/admin/users}">
                <button type="button" class="button btnPush btnBlueGreen">뒤로 가기</button>
            </a>
        </div>

        <div th:text="${user.nickName} + '의 프로필'" class="profile"></div>
        <div style="margin-bottom: 3rem;">
            <span class="profile-text" style="margin-right: 10rem;">프로필 사진</span>
            <img th:src="@{/profile_imgs/} + ${user.profileImageUrl}" onerror="this.src='/img/default_profile.png';" class="profile-img" /><br/>
        </div>
        <div style="margin-bottom: 3rem;">
            <span class="profile-text">닉네임</span>
            <span th:text="${user.nickName}" class="profile-info"></span><br/>
        </div>
        <div style="margin-bottom: 3rem;">
            <span class="profile-text">이메일</span>
            <span th:text="${user.email}" class="profile-info"></span><br/>
        </div>

        <span th:if="${#strings.isEmpty(user.intro)}">
            <span class="profile-text">소개말</span>
            <span class="profile-info">소개말이 없습니다. 친구들에게 자신을 소개해보세요~
            </span>
        </span>
        <span th:if="${not #strings.isEmpty(user.intro)}">
            <span class="profile-text">소개말</span>
            <span th:text="${user.intro}" class="profile-info"></span>
        </span>
        <br/>
        <div style="margin-top: 3rem;">
            <span class="profile-text" style="margin-right: 8.5rem;">신고 받은 횟수</span>
            <span th:text="${reportCount} + '회'" class="profile-info"></span><br/>
        </div>
        <br/>

        <div style="margin-top: 3rem;">
            <a th:href="@{/admin/user/{id}/feeds(id=${user.id})}">
                <button class="button btnPush btnOrange" style="margin: 1rem 3rem 0rem 0rem;">생성한 피드</button>
            </a>
        </div>

    </div>
</section>

<footer th:replace="layout/footer::footerFragment"></footer>
