<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<body layout:fragment="content">
<div class="container">

    <div>
        <a th:href="@{/admin/users}">
            <button type="button" class="btn btn-primary" style="border-radius:25px;">뒤로 가기</button>
        </a>
    </div>

    <table>
        <tr>
            <th>닉네임</th>
            <th>이메일</th>
            <th>프로필</th>
        </tr>
        <tr>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <img th:src="@{/profile_imgs/} + ${user.profileImageUrl}" width="150" height="150" style="border-radius: 100%;" />
            </td>
        </tr>
    </table>

    <h1>피드 목록</h1>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>피드</th>
            <th>태그</th>
        </tr>
        <tr th:each="feed: ${feeds}">
            <td th:text="${feed.id}"></td>
            <td th:text="${feed.title}"></td>
            <td th:text="${feed.tag.name}"></td>
            <td>
                <a th:href="@{/admin/feed/{id}(id=${feed.id})}">
                    <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" width="150" height="150" style="border-radius: 100%;" />
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
<footer th:replace="layout/footer::footerFragment"></footer>
