<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container">
        <a th:href="@{/admin/users}">
            <button class="button btnPush btnBlueGreen" style="margin: 6rem 6rem 6rem 6rem; width: 15%; height: 80px; font-size: 30px;">회원 관리</button>
        </a>

        <a th:href="@{/admin/tag/list}">
            <button class="button btnPush btnLightBlue" style="margin: 6rem 6rem 6rem 6rem; width: 15%; height: 80px; font-size: 30px;">피드 관리</button>
        </a>

        <a th:href="@{/admin/tags}">
            <button class="button btnPush btnOrange" style="margin: 6rem 6rem 6rem 6rem; width: 15%; height: 80px; font-size: 30px;">태그 관리</button>
        </a>

        <a th:href="@{/admin/report}">
            <button class="button btnPush btnRed" style="margin: 6rem 6rem 6rem 6rem; width: 15%; height: 80px; font-size: 30px;">신고 관리</button>
        </a>

        <a th:href="@{/admin/infos}">
            <button class="button btnPush btnBlue" style="margin: 6rem 6rem 6rem 6rem; width: 15%; height: 80px; font-size: 30px;">공지 관리</button>
        </a>
    </div>
</section>


<footer th:replace="layout/footer::footerFragment"></footer>
