<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container">

        <form th:action="@{/admin/tag}" method="post" modelAttribute="tagRequestDto" enctype="multipart/form-data" accept-charset="UTF-8" style="padding: 3rem 0rem 30rem 0rem;">
            <div id="feed-create">
                <h2 class="title">태그 생성</h2>

                <div class="contents">
                    <div class="upload-box">
                        <div>
                            <input type="text" class="input-text" name="name" placeholder="태그 명을 적어주세요."/>
                            <span th:style="${'color: red; font-size:18px;'}" th:text="${valid_name}"></span>
                        </div>

                        <div id="drop-file" class="drag-file">
                            <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image" >
                            <p class="message">이미지 업로드</p>
                            <img src="" alt="미리보기 이미지" class="preview">
                        </div>
                        <label class="file-label" for="chooseFile" style="margin-bottom: 3rem;">태그 이미지를 업로드 해주세요.</label>
                        <input class="file" id="chooseFile" type="file" name="file" multiple="multiple" onchange="dropFile.handleFiles(this.files)" accept="image/png, image/jpeg, image/gif">
                        <span th:style="${'color: red; font-size:18px;'}" th:text="${valid_tagImageUrl}"></span>
                    </div>
                </div>

                <a th:href="@{/admin/tags}">
                    <button class="button btnPush btnOrange" type="button" style="float: right;">취소</button>
                </a>
                <button class="button btnPush btnBlueGreen" type="submit" style="float: right; margin-right: 1rem;">생성</button>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript" th:src="@{/js/feedCreate.js}"></script>
<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>
