<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
<div class="container">

    <div th:if="${feeds.isEmpty()}">
        <h2>
            작성한 피드가 없습니다.<br/>
        </h2>
    </div>

    <div th:unless="${feeds.isEmpty()}">
        <h1>피드 목록</h1>
        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>피드</th>
                <th>태그</th>
            </tr>
            <tr th:each="feed: ${feeds}">
                <td th:text="${feed.id}"></td>
                <td th:text="${feed.title}"></td>
                <td th:text="${feed.tag.name}"></td>
                <td>
                    <a th:href="@{/user/feed/{id}(id=${feed.id})}">
                        <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" width="150" height="150" style="border-radius: 100%;" />
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <a th:href="@{/user/profile/}">
        <button type="button" class="btn btn-primary" style="border-radius:25px;">돌아가기</button>
    </a>

</div>
</body>
</html>