<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
<div class="masthead text-center cover">
    <div class="container d-flex align-items-center flex-column">

        <div class="social-icons">
            <a href="#"><img th:src="@{/img/fb.png}" alt="facebook"></a>
            <a href="#"><img th:src="@{/img/tw.png}" alt="twitter"></a>
            <a href="#"><img th:src="@{/img/gl.png}" alt="google"></a>
        </div>

        <form th:action="@{/auth/join}" method="post" modelAttribute="joinRequestDto" id="register">
            <input type="email" name="email" th:value="${joinRequestDto.email}" class="input-field" placeholder="Enter your Email" required>
            <span th:style="${'color: red; font-size:20px;'}" th:text="${valid_email}"></span>
            <input type="text" name="nickName" th:value="${joinRequestDto.nickName}" class="input-field" placeholder="Enter your nickname" required>
            <span th:style="${'color: red; font-size:20px;'}" th:text="${valid_nickName}"></span>
            <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
            <span th:style="${'color: red; font-size:20px;'}" th:text="${valid_password}"></span>
            <input type="password" name="password_confirm" class="input-field" placeholder="Check your Password" required>
            <span th:style="${'color: red; font-size:20px;'}" th:text="${valid_password_confirm}"></span>

            <button class="submit">Register</button>
            <span style="font-size: 20px; font-family: 'Inconsolata', monospace;">Already have an account? <a th:href="@{/auth/login}" class="already-join">Sign-In</a></span>
        </form>

    </div>
</div>
</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>
