<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
    <div class="container">
        <form th:action="@{/auth/join}" method="post" modelAttribute="joinRequestDto" class="sign-up">
            <div class="form-group fone mt-2"><i class="fas fa-envelope"></i>
                <input type="text" name="email" th:value="${joinRequestDto.email}" placeholder="이메일을 입력해주세요." class="form-control">
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_email}"></span>
            </div>

            <div class="form-group fone mt-2"><i class="fas fa-user"></i>
                <input type="text" name="nickName" th:value="${joinRequestDto.nickName}" placeholder="닉네임을 입력해주세요." class="form-control">
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_nickName}"></span>
            </div>

            <div class="form-group fone mt-2"><i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="비밀번호" class="form-control">
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_password}"></span>
            </div>

            <div class="form-group fone mt-2"><i class="fas fa-lock"></i>
                <input type="password" name="password_confirm" placeholder="비밀번호 확인" class="form-control" required>
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_password_confirm}"></span>
            </div>

            <button type="submit" class="btn btn-block btn-bold btn-primary mt-2">회원가입</button>
        </form>
    </div>
</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>
