<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
<div class="masthead text-center cover">
    <div class="container d-flex align-items-center flex-column">

        <div class="social-icons">
            <a href="#"><img th:src="@{/img/nv.png}" alt="naver" style="border-radius: 100%; width: 80px;"></a>
            <a href="#"><img th:src="@{/img/ka.png}" alt="kakao"></a>
            <a href="/oauth2/authorization/google"><img th:src="@{/img/go.png}" alt="google" style="width: 70px;"></a>
        </div>

        <form th:action="@{/auth/login}" method="post" class="was-validated" id="login">
            <input type="email" class="input-field" placeholder="Email" name="email" th:value="${userEmail}" required>
            <input type="password" class="input-field" placeholder="Enter Password" name="password" th:value="${userPassword}" required>
            <label class="box-word">
                <input type="checkbox" class="checkbox" name="rememberChk" th:checked="${flag}">
                <input type="hidden" class="checkbox" name="_rememberChk" />
                Remember Me
            </label>
            <button class="submit">Login</button>

            <a href="#" class="forgot-password">Forgot password?</a>
            <span style="font-size: 20px; margin-left: 3rem; font-family: 'Inconsolata', monospace;">Don't have an account? <a th:href="@{/auth/join}" class="not-joined">Sign-Up</a></span>

            <div th:if="${#strings.isEmpty(error)}"></div>
            <div th:if="${not #strings.isEmpty(error)}" style="margin: 3rem;">
                <span id="valid" class="alert alert-danger" th:text="${exception}" style="font-size: 22px;"></span>
            </div>
        </form>

    </div>
</div>

</body>
<script th:inline="javascript">
	window.onload = function() {
		var message = [[${errorMsg}]];

		if (message !== null) {
			alert(message);
			location.href= `/auth/login`;
		}

	}
</script>
<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>

