<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
<div class="masthead text-center cover">
    <div class="container d-flex align-items-center flex-column">

        <div class="social-icons">
            <a href="#"><img th:src="@{/img/fb.png}" alt="facebook"></a>
            <a href="#"><img th:src="@{/img/tw.png}" alt="twitter"></a>
            <a href="#"><img th:src="@{/img/gl.png}" alt="google"></a>
        </div>

        <form th:action="@{/auth/login}" method="post" class="was-validated" id="login">
            <input type="email" class="input-field" id="email" placeholder="Email" name="email" required>
            <input type="password" class="input-field" id="password" placeholder="Enter Password" name="password" required>
            <input type="checkbox" class="checkbox"><span class="box-word">Remember Me</span>
            <button class="submit">Login</button>

            <a href="#" class="forgot-password">Forgot password?</a>
            <span style="font-size: 20px; margin-left: 3rem; font-family: 'Inconsolata', monospace;">Don't have an account? <a th:href="@{/auth/join}" class="not-joined">Sign-Up</a></span>

            <div th:if="${#strings.isEmpty(error)}"></div>
            <div th:if="${not #strings.isEmpty(error)}" style="margin: 3rem;">
                <span id="valid" class="alert alert-danger" th:text="${exception}" style="font-size: 22px;"></span>
            </div>
        </form>

    </div>
</div>

</body>
<script th:inline="javascript">
	window.onload = function() {
		var message = [[${errorMsg}]];

		if (message !== null) {
			alert(message);
			location.href= `/auth/login`;
		}

	}
</script>
<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>

