<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body>
<div class="container">
  <!--  프로필 이미지  -->
  <img th:src="@{/profile_imgs/} + ${user.profileImageUrl}" onerror="this.src='/img/default_profile.png';" width="150" height="150" style="border-radius: 100%;" />
    <!--  닉네임  -->
    <div>닉네임</div>
    <div>
      <h4 th:text="${user.nickName}"></h4>
    </div>
    <!--  소개말  -->
    <div th:if="${#strings.isEmpty(user.intro)}"></div>
    <div th:if="${not #strings.isEmpty(user.intro)}">
        <div>소개말</div>
        <div>
          <h6 th:text="${user.intro}"></h6>
        </div>
    </div>

    <a th:href="@{/user/update}">
      <button type="button" class="btn btn-primary" style="border-radius:25px;">프로필 수정</button>
    </a>


  <a th:href="@{/user/feeds/}">
    <button type="button" class="btn btn-primary" style="border-radius:25px;">내 피드</button>
  </a>
  <a th:href="@{/user/feeds/likes}">
    <button type="button" class="btn btn-primary" style="border-radius:25px;">좋아요 표시한 피드</button>
  </a>


</div>
</body>
</html>