<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div style="margin-left: 20rem;">
        <a th:href="@{/user/toUser/{id}(id=${user.id})}">
            <button type="button" class="button btnPush btnOrange" >돌아가기</button>
        </a>
    </div>

    <!--  feed list start  -->
    <div th:if="${!feeds.isEmpty()}" class="row" style="padding: 3rem 20rem 30rem 20rem;margin: 0rem 0rem 0rem 0rem;" id="columns">
        <div th:each="feed: ${feeds}" class="col-md-6 col-lg-4 mb-4" style="width: 100%;">
            <a th:href="@{/user/subscribed/feed/{id}(id=${feed.id})}">
                <figure>
                    <img th:src="@{/feed_imgs/} + ${feed.feedImageUrl}" class="feed-img">
                    <figcaption th:text="${feed.title}"></figcaption>
                </figure>
            </a>
        </div>
    </div>
    <!--  feed list end  -->

    <div class="container">
        <div th:if="${feeds.isEmpty()}" class="row" style="padding: 3rem 0rem 30rem 0rem; text-align: center;">
            <h2>
                작성한 피드가 없습니다.<br/>
            </h2>
        </div>

        <!-- 페이징처리 시작 -->
        <div th:if="${!feeds.isEmpty()}">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${!feeds.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/feeds/(page='0')}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!feeds.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/feeds/(page=${feeds.number-1})}">
                        <span>&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${page == feeds.number + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/user/feeds/(page=${page-1})}"></a>
                </li>

                <li class="page-item" th:classappend="${!feeds.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/feeds/(page=${feeds.number+1})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${!feeds.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/user/feeds/(page=${feeds.totalPages-1})}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 페이징처리 끝 -->

    </div>
</section>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>