<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body id="page-top">
<th:block th:fragment="headerFragment">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a sec:authorize="isAnonymous()" class="navbar-brand" href="/" style="font-family: 'Inconsolata', monospace;">
                <img th:src="@{/img/logo.png}" alt="로고" width="30" height="30" class="d-inline-block align-text-top">
                <span style="color:#ffffff; font-size: 25px; font-family: 'Inconsolata', monospace;">Image Share</span>
            </a>

            <a sec:authorize="isAuthenticated()" class="navbar-brand" th:href="@{/user}" style="font-family: 'Inconsolata', monospace;">
                <img th:src="@{/img/logo.png}" alt="로고" width="30" height="30" class="d-inline-block align-text-top">
                <span style="color:#ffffff; font-size: 25px; font-family: 'Inconsolata', monospace;">Image Share</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!--  로그아웃 상태  -->
                <ul sec:authorize="isAnonymous()" class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#instruction">소개</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#notice">공지사항</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/login}">로그인</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/auth/join}">회원가입</a></li>
                </ul>

                <!--  로그인 상태  -->
                <ul sec:authorize="isAuthenticated()" class="navbar-nav ms-auto">
                    <!--  ADMIN 권한  -->
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/admin}">관리자 홈</a></li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <form action="/user/feed/search" method="get" class="d-flex">
                            <div class="search-wrapper" style="margin-right: 3rem;">
                                <div class="input-holder">
                                    <input type="search" name="keyword" class="search-input" placeholder="피드 검색" />
                                    <button class="search-icon" type="submit" onclick="searchToggle(this, event);"><span></span></button>
                                </div>
                                <span class="close" onclick="searchToggle(this, event);"></span>
                            </div>

                        </form>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/user/feed}"><img th:src="@{/img/plus.png}" alt="피드생성" width="30" height="30" class="d-inline-block align-text-top"></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://localhost:8080/#notice"><img th:src="@{/img/bell.png}" alt="알림" width="30" height="30" class="d-inline-block align-text-top"></a></li>
                    <li class="nav-item dropdown mx-0 mx-lg-1"><a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" href="#" data-toggle="dropdown"><img th:src="@{/profile_imgs/} + ${#authentication.getPrincipal().getUser().getProfileImageUrl}" onerror="this.src='/img/default_profile.png';" width="30" height="30" style="border-radius: 100%"></a>
                        <div class="dropdown-menu" style="padding: 0; border-radius: 0; border: 1px solid black;">
                            <a class="dropdown-item" th:href="@{/user/profile}" style="border-bottom: 2px solid black; height: 3rem; font-size: 20px;">프로필</a>
                            <a class="dropdown-item" th:href="@{/user/feeds}" style="border-bottom: 2px solid black; height: 3rem; font-size: 20px;">내 피드</a>
                            <a class="dropdown-item" th:href="@{/user/likes/feeds}" style="border-bottom: 2px solid black; height: 3rem; font-size: 20px;">'좋아요'한 피드</a>
                            <a class="dropdown-item" th:href="@{/user/subscribe}" style="border-bottom: 2px solid black; height: 3rem; font-size: 20px;">구독 관리</a>
                            <a class="dropdown-item" th:href="@{/auth/logout}" style="height: 3rem; font-size: 20px;">로그아웃</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</th:block>