<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/admin_header.html -->
<header th:replace="layout/admin_header::admin_headerFragment"></header>

<!-- content -->
<section class="page-section portfolio">
    <div class="container">

        <form th:action="@{/admin/new/info}" method="post" th:object="${infoRequestDto}"  style="padding: 3rem 0rem 30rem 0rem;">

            <div id="feed-create">
                <h2 class="title">공지 등록</h2>
                <div class="row" style="margin-bottom: 3rem;">
                    <div style="font-size: 20px; font-weight: bold; margin-bottom: 1rem;">공지 타입</div>
                    <div th:each="type : ${informationTypes}" class="form-check">
                        <input type="radio" th:field="*{informationType}" th:value="${type.name()}" class="form-check-input">
                        <label th:for="${#ids.prev('informationType')}" th:text="${type.value}" class="form-check-label"></label>
                    </div>
                    <span style="color: red; font-size: 18px;" th:text="${valid_informationType}"></span>
                </div>

                <div>
                    <input type="text" class="input-text" name="title" placeholder="공지 제목을 입력해주세요." style="width: 100%; margin-bottom: 1rem;"/>
                    <span th:style="${'color: red; font-size:18px;'}" th:text="${valid_title}"></span>
                </div>

                <div style="margin-bottom: 5rem; margin-top: 3rem;">
                    <textarea id="input" name="content" placeholder="공지로 등록할 내용을 입력해주세요." type="text" class="form-control" style="height: 110px; margin-bottom: 1rem; font-size: 18px;"></textarea>
                    <div class="field-error" th:errors="*{content}" style="color: red; font-size: 18px;">최대 글자수 초과</div>
                </div>

                <a th:href="@{/admin}">
                    <button class="button btnPush btnBlueGreen" type="button" style="float: right;">취소</button>
                </a>

                <button class="button btnPush btnBlue" type="submit" style="float: right; margin-right: 1rem;">등록하기</button>
            </div>

        </form>
    </div>
</section>

<script type="text/javascript" th:src="@{/js/feedCreate.js}"></script>
<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>
