<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<!-- content -->
<section class="page-section portfolio" id="portfolio" style="background-color:#ECFAFB;">
  <div class="container">

    <!--  서치 타입 별 피드 조회  -->
    <form th:action="@{/user/feed/searchType}" method="get" style="text-align: end; margin-bottom: 3rem;">
      <div>
        <select class="select-box" name="searchType" style="width: 20%;">
          <option value="최신순">최신순</option>
          <option value="조회수 순">조회수 순</option>
          <option value="좋아요 순">좋아요 순</option>
        </select>
        <button class="btn btn-primary" type="submit">피드 검색</button>
      </div>
    </form>

    <!--  tag start  -->
    <div class="row" style="padding: 3rem 0rem 30rem 0rem;">
      <div th:each="tag: ${tags}" class="col-md-6 col-lg-4 mb-4">
        <a th:href="@{/user/tag/(tag_id=${tag.id})}">
          <div class="portfolio-item mx-auto" style="position: relative">
            <img class="img-fluid" th:src="@{/tag_imgs/} + ${tag.tagImageUrl}" width="100%" height="100%" />
            <span class="tag-text" th:text="${tag.name}"></span>
          </div>
        </a>
      </div>
    </div>
    <!--  tag end  -->

  </div>
</section>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>