#feed-create {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.title {
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.contents .upload-box {
  width: 100%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents .upload-box .drag-file {
  position: relative;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
  border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
  width: 40px;
}

.contents .upload-box .drag-file .message {
  margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
  display: none;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}

.contents .upload-box .file-label {
  margin-top: 30px;
  background-color: #5b975b;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 65%;
  border-radius: 6px;
  cursor: pointer;
}

.contents .upload-box .file {
  display: none;
}

.input-text {
  font-size: 30px;
  width: 770px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  margin-bottom: 3rem;
}

.input-text:focus {
  outline: none;
}

.input-text::placeholder {
  color: gray;
  font-size: 22px;
  font-weight: bold;
}

button.button {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  text-decoration: none;
  cursor: pointer;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnOrange {
   background: #FFAA40;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnRed {
  background: #FD3301;
}

.btnYellow {
  background: #FADE37;
}

.btnBlue {
  background: #397ACF;
}

.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnOrange.btnPush {
   box-shadow: 0px 5px 0px 0px #A66615;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnRed.btnPush {
  box-shadow: 0px 5px 0px 0px #9E3301;
}

.btnYellow.btnPush {
  box-shadow: 0px 5px 0px 0px #F1BE37;
}

.btnBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #296a9a;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnRed.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #9E3301;
}

.feed-like:hover{
  text-decoration: none;
}

.reply-like:hover{
  text-decoration: none;
}

/* 레이아웃 - 댓글 */
.replies {
  border: 1px solid #dbdbdb;
  margin-bottom: 1rem;
}
.replies .reply {
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}
.replies .reply:last-child {
  border-bottom: none;
}

/* 상단 메뉴 */
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top .username {
  font-weight: bold;
}
.top .utility {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

/* 하단 메뉴 */
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: bold;
  font-size: 14px;
}
.bottom .divider {
  width: 1px;
  height: 20px;
  background-color: #dbdbdb;
  margin: 0 20px;
}
